@model IEnumerable<ASPIdentityApp.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<h4>Employee List</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (TempData["SuccessMessage"] != null)
{
    <p class="alert alert-success">@TempData["SuccessMessage"]</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpAddress)
            </th>
            <th>Action</th>
        </tr>

    </thead>
    <tbody>
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmpId">Details</a> |
                    <a asp-action="Delete" class="Delete" asp-route-id="@item.EmpId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts {
    <script>
        $(document).ready(function () {
            // Attach a click event handler to the delete button
            $('.Delete').click(function (e) {
                // Display a confirmation dialog
                if (!confirm('Are you sure you want to delete this employee?')) {
                    // Prevent form submission if the user clicks Cancel
                    e.preventDefault();
                }
            });
        });
    </script>
}
